---
env:
  browser: true
  es6: true
  node: true

rules:
  quotes:
    - 1
    - single
  yoda: 0
  no-underscore-dangle: 0
  curly: 0
  new-cap: 0
  no-use-before-define: 0
  no-unused-expressions: 0
  no-proto: 0
  no-process-exit: 0
  no-shadow: 0
  no-constant-condition: 0
